#video-container {
    width: 1280px;
    position: fixed;
    left: 15%;
}

#loading-container {
  margin: auto;
  position: absolute;
  top: 200px; left: 0; right: 0;
  height: 272px;
  width: 259px;
}


#main-container {
    height: 5000px;
    position: absolute;
    top: 0;
    width: 100%;
}

canvas {
    position: fixed;
    z-index: 1;
}
